<form #form="ngForm" (ngSubmit)="save(form.value)">
  <label for="title">Title</label>
  <div class="input-group mb-3">
    <input
      ngModel
      name="Title"
      id="title"
      type="text"
      class="form-control mb-3"
    />
  </div>
  <label for="price">Price</label>
  <div class="input-group mb-3">
    <span class="input-group-text">$</span>
    <input
      ngModel
      name="Price"
      type="text"
      class="form-control"
      id="price"
      type="'number"
    />
  </div>
  <label for="category">Category</label>
  <div class="input-group mb-3">
    <select ngModel name="Category" id="category" class="form-control mb-3">
      <option value=""></option>
      <option [value]="c?.['name']" *ngFor="let c of categories$">
        {{ c?.['name'] }}
      </option>
    </select>
  </div>
  <label for="imageUrl">Image URL</label>
  <div class="input-group mb-3">
    <input
      ngModel
      name="imageUrl"
      id="imageUrl"
      type="text"
      class="form-control mb-3"
    />
  </div>
  <button class="btn btn-primary mt-4">Save</button>
</form>
